a{
    text-decoration: none;
}
.titulo {
    color: green;    
}

.navegation {
list-style-type: none;
color: blue;
display: flex;
}

.navegation__item{
    margin: 0 10px;
}

.navigation__link--active{
    color: royalblue;
    border: 1px solid royalblue;
    padding: 0 5px;
    
    
}